.card_container{
    width: 100%;
    height: 100%;
    /* margin: 5px; */
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
    color: black;
}
/* --------------------------------------------------------------------------------------------------------- */
.card_A{
    /* background: #0A21C0; */
    /* background: linear-gradient(90deg, rgba(114, 114, 237, 1) 0%, rgba(0, 212, 255, 1) 98%); */
}
.card_B{
    /* background: #FF0000; */
    /* background: #0A21C0; */

    /* background: linear-gradient(90deg, rgba(255, 0, 0, 0.81) 0%, rgba(226, 61, 40, 0.55) 100%); */
}
.card_C{
    /* background: #0A21C0; */

    /* background: #FF00BF; */
    /* background: linear-gradient(90deg, rgba(255, 0, 191, 0.81) 0%, rgba(255, 105, 180, 0.55) 100%) */
}
.card_D{
    /* background: #0A21C0; */

    /* background: #32CD32; */
    /* background: linear-gradient(90deg, rgba(50, 205, 50, 0.81) 0%, rgba(127, 255, 0, 0.55) 100%); */
}
/* --------------------------------------------------------------------------------------------------------- */

.card_icon{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
.card_data{
    width: 60%;
    height: 100%;
    /* align-content: center; */
    /* background: red; */
    

}
.card_number{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 70%;
    /* background: blue; */


}
.card_room_booking{
    height: 100%;
    font-size: 50px;
    /* background: red; */
    display: flex;           
    align-items:flex-end;  
    justify-content: end;
}
.card_room_total{
    height: 100%;
    font-size: 10px;
    /* background: red; */
    display: flex;           
    align-items: flex-end;
    padding-bottom: 15px;  
}
.card_description{
    position: absolute;
    display: flex;           
    align-items: center;   
    justify-content: center; 
    bottom: 0;
    width: 100%;
    font-size: 8px;
    color: rgba(0, 0, 0, 0.5);
    /* background: yellow; */
}
