.chart-container {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100%;
  height: 100%;
}


.chart-container canvas {
  width: 300px !important;
  height: 300px !important;
}

.chart-info {
  flex: 1;
  padding-left: 20px;
}

.chart-info h3 {
  margin-bottom: 10px;
  color: #333;
}

.chart-info p {
  margin: 5px 0;
  color: #555;
}
