.roomManagement_container {
    width: 100%;
    height: 100%;
    
}

/* Header */
.roomManagement_Header {
    width: 100%;
    height: 50px;
    background: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    font-weight: bold;
}
.addRoom{
    color: rgba(0,0,0,0.7);
}

.scroll-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  padding: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  cursor: grab;
  scrollbar-width: none;

}

.scroll-container::-webkit-scrollbar {
  display: none;
}
.roomManagement_room {
    min-width: 200px;
    height: 100px;
    background: beige;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
    font-size: 20px;
    position: relative;
}
.room_edit{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    opacity: 0;
    
}
.room_edit {
    transition: opacity 0.5s ease;

}


.edit-index:hover .roomManagement_room:hover .room_edit {
    opacity: 1;
}
