.roomManagement_container {
    width: 100%;
    height: 100%;
    
}
.room-body{
    width: 100%;
    height: 500px;
    overflow: scroll;
    padding: 5px;
}

/* Header */
.roomManagement_Header {
    width: 100%;
    height: 45px;
    background: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    font-weight: bold;
}
.addRoom{
    color: rgba(0,0,0,0.7);
}

.scroll-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  padding: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  /* cursor: grab; */
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}
.roomManagement_room {
    min-width: 200px;
    height: 100px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
    font-size: 20px;
    position: relative;
    padding-left: 10px;
    padding-top: 2px;
    
}
.roomManagement_room .child{
    width: 100%;
    display: flex;
    align-items: center;
    
}
.roomManagement_room .c1{
    font-weight: bold;
}
.roomManagement_room .c2{
    gap: 2px;
    color: brown;
    font-size: 13px;
    opacity: 0.9;
}
.roomManagement_room .c3{
    gap: 2px;
    font-size: 13px;
    opacity: 0.9;
}
.roomManagement_room .c4{
    gap: 2px;
    font-size: 13px;
    opacity: 0.9;
}
.c5{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 40%;
    height: 60%;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    /* background: darkgoldenrod; */
    
}


.room_edit{
    position: absolute;
    right: 10px;
    top: 5px;
    width: 20px;
    height: 20px;
    color: blanchedalmond;
    opacity: 1;
    
}
.room_edit {
    transition: opacity 0.5s ease;

}

