.dashboard_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(22, 150px);
  gap: 20px;
  width: 100%;
  height: 100%;
  /* background: red; */
  
}
.dashboard_container .A{

    width: 100%;
    height: 100%;
    color: black;
    border-radius: 8px;
    background: white;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;

}
.dashoard_items1{
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: red;
    
}
.dashoard_items2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: red;

  
}
.dashoard_items3 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  
}
.dashoard_items4 {
  grid-row: 1 / 2;
  grid-column: 4 / 4;
 
}

.dashoard_items5 {
  grid-row: 2 / 4;
  grid-column: 1 / 3;
  
}
.dashoard_items6 {
  grid-row: 2 / 4;
  grid-column: 3 / 4;
  
}
.dashoard_items7 {
  grid-row: 2 / 4;
  grid-column: 4 / 5;
  
}

